h3{
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}


table.center {
    margin-left:auto; 
    margin-right:auto;
 }

 table {
 	border-spacing: 20px;
 }
 
#color1{
	background-color: #2B2D42;
	background-size: 200px 100px;
	padding: 100px 70px 100px 70px;
	margin: 20px;
}

#color2{
	background-color: #8D99AE;	
	padding: 100px 70px 100px 70px;
	margin: 20px;
}

#color3{
	background-color: #EDF2F4;
	padding: 100px 70px 100px 70px;
	margin: 20px;
}

#color4{
	background-color: #EF233C;
	padding: 100px 70px 100px 70px;
	margin: 20px;
}

#color5{
	background-color: #D90429;
	padding: 100px 70px 100px 70px;
	margin: 20px;
}